div.user-greeting {
	float: right;
}

div.user-greeting div.user_picture_block {
	float: left;
}

div.user-greeting div.user_picture_block a {
	height: 30px;
	width: 30px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	float: left;
	overflow: hidden;
	border: 1px solid #000;
	margin-top: 4px;
}

div.user-greeting div.user_picture_block h3 {
	float: left;
	text-transform: none;
	font-family: @main-font-family;
	font-size: 1.4em;
	letter-spacing: 0;
	padding: 14px 8px;
	line-height: 100%;
	color: #fff;
}

div.user-greeting div.user-menu-icon {
	float: left;
	margin: 15px 0 0 5px;
}

div.user-greeting div.user-menu-icon span.user-icon-bar {
	display: block;
	width: 20px;
	height: 2px;
	background-color: #fff;
	margin-bottom: 3px;
}

div.user-greeting div.user-menu-icon:hover {
	cursor: pointer;
}

div.user-greeting div.user-menu-icon:hover span.user-icon-bar,
div.user-greeting div.user-menu-icon.active span.user-icon-bar {
	background-color: #f26c55;
}

@media(min-width: 980px) {
	div.user-greeting {
		margin-left: 10px;
		margin-right: 5px;
	}
}

@media(max-width: 979px) {
	div.user-greeting {
		margin-top: 5px;
		margin-right: 10px;
	}
}



div.user-menu,
div.user-menu ul,
div.user-menu ul li {
	margin: 0;
	padding: 0;
}

div.user-menu,
div.user-menu ul {
	float: right;
	list-style: none;
}

div.user-menu ul li {
	float: left;
}

div.user-menu a {
	float: right;
	display: block;
	color: @body-content-link-color;
	font-size: 1.4em;
	padding: 14px 10px 12px;
	text-decoration: none;
	line-height: 100%;
}

div.user-menu a.active,
div.user-menu a:hover {
	background-color: @body-content-link-color;
	color: #330B13;
	cursor: pointer;
	text-decoration: none;
}

body.logged-in div.user-menu {
	display: none;
	position: absolute;
	top: 44px;
	right: 0;
	background: #f26c55;
	padding: 10px 20px;
	z-index: 99999;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-width: 120px;
}

body.logged-in div.user-menu.show {
	display: block;
}


body.logged-in div.user-menu:before,
body.logged-in div.user-menu:after  {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	bottom: 100%;
	right: 7px;
}

body.logged-in div.user-menu:after {
	border-color: transparent;
	border-width: 8px;
	border-bottom-color: #f26c55;
}
body.logged-in div.user-menu:before {
	border-color: transparent;
	border-width: 9px;
	border-bottom-color: inherit;
	margin-right: -1px;
}

body.logged-in div.user-menu ul {
	float: left;
}

body.logged-in div.user-menu ul li {
	float: none;
}

body.logged-in div.user-menu ul li a {
	color: #fff;
	font-weight: 600;
	float: left;
	padding: 10px 0 10px 26px;
	background-image: url("../images/afrikaburn-icons.png");
	background-repeat: no-repeat;
	background-size: 200px;
}

body.logged-in div.user-menu ul li a.user {
	background-position: left -191px;
}

body.logged-in div.user-menu ul li a.logout {
	background-position: left -242px;
}

@media (max-width: 979px) {
	div.user-menu a {
		padding-top: 18px;
		padding-bottom: 15px;
	}
}

@media (max-width: 479px) {
	div.user-menu a {
		padding-top: 19px;
		padding-bottom: 16px;
	}
}




