div.user-greeting {
	float: right;
}

div.user-greeting div.user_picture_block {
	float: left;
}

div.user-greeting div.user_picture_block a {
	height: 30px;
	width: 30px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	float: left;
	overflow: hidden;
	border: 1px solid #000;
	margin-top: 4px;
}

div.user-greeting div.user_picture_block h3 {
	float: left;
	text-transform: none;
	font-family: @main-font-family;
	font-size: 1.4em;
	letter-spacing: 0;
	padding: 14px 8px;
	line-height: 100%;
	color: #fff;
}

div.user-greeting div.user-menu-icon {
	float: left;
	margin: 15px 0 0 5px;
}

div.user-greeting div.user-menu-icon span.user-icon-bar {
	display: block;
	width: 20px;
	height: 2px;
	background-color: #fff;
	margin-bottom: 3px;
}

div.user-greeting div.user-menu-icon:hover {
	cursor: pointer;
}

div.user-greeting div.user-menu-icon:hover span.user-icon-bar,
div.user-greeting div.user-menu-icon.active span.user-icon-bar {
	background-color: #f26c55;
}

@media(min-width: 980px) {
	div.user-greeting {
		margin-left: 10px;
		margin-right: 5px;
	}
}

@media(max-width: 979px) {
	div.user-greeting {
		margin-top: 5px;
		margin-right: 10px;
	}
}





