/*-------------------
SYSTEM MESSAGE STYLES
-------------------*/

div.messages {
	padding: 12px 15px 12px 38px;
	margin-bottom: 20px;
	position: relative;
	line-height: @body-content-text-line-height;
	font-family: @main-font-family;
	font-style: @body-content-text-font-style;
	font-size: 1em;
	text-align: @body-content-text-text-align;
	font-weight: @body-content-text-font-weight;
	text-align: left;
}

div.messages span.icon {
	position: absolute;
	left: 8px;
	top: 15px;
}

div.messages.status span.icon {
	background-position: left 0px top -50px;
}

div.messages .element-invisible {
	display: none;
}

div.messages,
div.messages p,
div.messages ul li {
	font-size: 1em;
	color: #eee;
	text-align: left;	
}

div.messages a {
	color: #fff;
	font-weight: 600;
}

div.messages a:hover {
	color: #111;
	text-decoration: underline;
}

div.messages {
	border: 2px solid #4B8192;
	background-color: #A3D1E0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

div.messages.error {
	background-color: #e85157;
	border: 2px solid #802727;
}

div.messages.warning {
	background-color: #E0A72B;
	border: 2px solid #D29E00;
}

div.messages.status  {
	border: 2px solid #23783D;
	background-color: #4DA87D;
}

/*----------------------
JOOMLA! TIP BOX STYLES
----------------------*/

div.tip-wrap {
    background-color: #000000;
    border-radius: 4px;
    color: #FFFFFF;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 18px;
}






