# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/all/modules/quicket/quicket_update_user.inc

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
