.country-list-table-header {
  padding: 4px 9px;
}

.country-list-label-available {
  float: left;
  margin-left: 2%;
  width: 15%;
}

.country-list-label-code {
  float: left;
  width: 20%;
}

.country-list-label-country {
  float: left;
  width: 20%;
  margin-left: 20%;
}

.country-list-available {
  float: left;
  width: 17%;
}

.country-list-code {
  float: left;
  width: 20%;
}

.country-list-country {
  margin-left: 20%;
  width: 40%;
}
