.variation-marmalade-button a {
  padding: 3px 5px;
  font-weight: normal;
  line-height: 1;
  color: #444;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb)); 
  background-image: -moz-linear-gradient(0% 100% 90deg, #bbb, #fff); 
  background-color: #fff;
  -webkit-border-radius: 23px; 
  -moz-border-radius: 23px; 
  -o-border-radius: 23px; 
  border-radius: 23px; 
  text-decoration: none;
  font-style: normal;
  border: 1px solid #c7c7c7;
  white-space: nowrap;
}

.variation-marmalade-button a:hover,
.variation-marmalade-button a:focus {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); 
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); 
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.variation-marmalade-button a:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbb), to(#fff)); 
  background-image: -moz-linear-gradient(0% 100% 90deg, #fff, #bbb); 
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); 
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #bbb;
}
