.form-item .tgf-group {display: inline-block; vertical-align: top; margin: 0 1%;}
.form-item .tgf-group .tgf-group-parent label {font-weight: bold;}
.form-item .tgf-group .tgf-group-child {margin-left: 2em;}
