@media (min-width: 980px) {


}

.user-profile-form .form-radios > div, .group-bb-update .form-radios > div, .group-questionaire .form-radios > div, .group-user .form-radios > div {
    display: none;
}
.user-profile-form .form-radios > div ~ div, .group-bb-update .form-radios > div ~ div, .group-questionaire .form-radios > div ~ div, .group-user .form-radios > div ~ div { 
    display: block;
}

.field-name-field-imported-from-wordpress {
    display: none;
}
.field-name-field-updated {
  display: none;
}
