/*
no-sidebars class on body will hide the sidebar, and make the rest of the content full width.
Need some classnames for links on home page.
If I make the sidebar region on the homepage, can the newsletter signup be put in there?
*/

@media (min-width: 980px) {

  /* DMV Registration form */
  .page-wrangle-mutant-vehicles-registrations .views-table.cols-5 {
    width: 940px;
  }
  .page-wrangle-mutant-vehicles-registrations .views-field-field-please-submit-concept-imag {
    min-width: 180px;
  }

  /* Community tickets */ 
  .page-node-add-community-tickets-and-outreach .main-block {
    max-width: 940px;
  }

  .page-node-add-community-tickets-and-outreach .sidebar-outer {
    display: none;
  } 

  .page-node-add-community-tickets-and-outreach .field-name-field-proof-of-income-private {
    max-width: 400px;
  }
  
  .page-node-add-community-tickets-and-outreach .form-item-title, 
  .page-node-add-community-tickets-and-outreach .field-name-field-email-address {
    max-width: 33%;
    float: left;
    padding-right: 3px;
  }
  .page-node-add-community-tickets-and-outreach .field-name-field-sa-id-or-passport-number {
    max-width: 33%;
    padding-right: 3px;
    float: left;
  }
  
  .page-node-add-community-tickets-and-outreach .field-multiple-table div.field-name-field-first-name, 
  .page-node-add-community-tickets-and-outreach .field-multiple-table div.field-name-field-last-name,  
  .page-node-add-community-tickets-and-outreach .field-multiple-table div.field-name-field-phone-number {
    max-width: 16%;
  }
  .page-node-add-community-tickets-and-outreach .field-multiple-table .field-name-field-email-address {
    max-width: 22%;
  }
  .page-node-add-community-tickets-and-outreach .field-multiple-table .field-name-field-email-address {
    max-width: 26%;
  }
  
  /* Theme Camp pre registration*/ 
  .page-wrangle-theme-camps-pre-registrations .field-name-field-first-name,
  .page-wrangle-theme-camps-pre-registrations .field-name-field-last-name,
  .page-wrangle-theme-camps-pre-registrations .field-name-field-email-address,
  .page-wrangle-theme-camps-pre-registrations .field-name-field-phone-number {
    max-width: 180px;
    width: 180px;
  }
  .page-wrangle-theme-camps-pre-registrations .views-field-field-theme-camp-wrangler-editable select {
    width: 100px;
  }
  /* end 980 */ 
}

/* Logged in home page */ 
.page-home .panel-flexible h2 {
  color: #f26c55;
  font-family: 'FuturaBook';
  color: #f26c55;
  font-weight: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid #511719;
  text-transform: uppercase;
}
.page-home .panel-flexible p,
.page-home .panel-flexible .field-content {
  color: #ffefb6;
  line-height: normal;
}
.page-home #my-projects,
.page-home #volunteer-now {
  background-color: #0d0d0d;
} 
body.logged-in.page-home div.panel-pane{
  background-color: #340b12;
}

/* Community tickets */ 
.page-node-add-community-tickets-and-outreach .group-indent {
  padding-left: 35px;
}
  
/* Art Grant Review */ 
.page-wrangle-artworks-art-grant-ananymous-review div label {
  font-weight: 700;
}

.page-wrangle-artworks-art-grant-ananymous-review .views-field-field-breakdown-of-expenses li {
  width: 100%;
  overflow: auto;
  border: 1px solid #555;
}

.page-wrangle-artworks-art-grant-ananymous-review .views-field-field-breakdown-of-expenses li div {
  float: left;
  width: 14%;
  border: 1px solid #555;
  border-width: 0px 1px;;
}
.page-wrangle-artworks-art-grant-ananymous-review .views-field-field-breakdown-of-expenses li .field-name-field-price-total {
  float: right;
}

.page-wrangle-artworks-art-grant-ananymous-review .views-field-field-breakdown-of-expenses li div div {
  width: 100%;
  border: 0px;
}


.page-wrangle-artworks-art-grant-ananymous-review .views-row li {
  width: 100%;
  text-align: center;
}
.page-wrangle-artworks-art-grant-ananymous-review ul {
  list-style: none;
}

.views-field-field-application-amount {
  page-break-after: always;
}


.page-art-grant-ananymous-review-images.views-field-title {
  page-break-before: always;
}

.page-wrangle-artworks-art-grant-ananymous-review .views-field-title,
.page-art-grant-ananymous-review-images  .views-field-title {
  width: 100%;
  text-align: center;
}
.page-wrangle-artworks-art-grant-ananymous-review div.body-content h1,
.page-art-grant-ananymous-review-images h1 {
  text-align: center;
}

.page-wrangle-artworks-art-grant-ananymous-review img,
.page-art-grant-ananymous-review-images img {
  max-height: 100mm !important;
  width: auto !important;
}
.views-field-field-please-submit-concept-imag li {
    width: 100%;
    text-align: center;
}

.page-wrangle-artworks-art-grant-ananymous-review div.body-content ol li {
  margin-left: 0;
  padding-left: 0;
  font-size: 0.8em;
  list-style-type: none;
}


/*   Theme Camp form 2 signup  */
#edit-field-artwork-move-und div:first-child,
.page-node-add-theme-camp-form-2 #edit-field-does-it-have-sound-effects-und div:first-child {
  display: none;
}
#edit-field-artwork-move-und div div:first-child,
.page-node-add-theme-camp-form-2 #edit-field-does-it-have-sound-effects-und div div:first-child {
  display: block;
}


/*   Volunteers signup  */

#edit-field-vol-other-event-und div:first-child {
  display: none;
}
#edit-field-vol-other-event-und div div:first-child {
  display: block;
}

.tgf-group {
  width: 100%;
}

html body.logged-in div.user-menu ul { 
  float: none;
}

.no-term-reference-tree-button {
  display: none;
}
.term-reference-tree li {
    margin: 0.6em;
}
.term-reference-tree-button.term-reference-tree-button-processed {
    margin-right: 0.7em;
}
/* General  */

.field-widget-tgf-options-buttons .form-checkboxes,
.field-type-taxonomy-term-reference .form-checkboxes {
    margin-top: 14px;
}

/* */


.user-profile-form .form-radios > div, .group-bb-update .form-radios > div, .group-questionaire .form-radios > div, .group-user .form-radios > div, .field-name-field-booze-short .form-radios > div, .edit-field-year-round-yn .form-radios > div {
  display: none;
}
.user-profile-form .form-radios > div ~ div, .user-profile-form .form-radios > div ~ div, .group-bb-update .form-radios > div ~ div, .group-questionaire .form-radios > div ~ div, .group-user .form-radios > div ~ div, .field-name-field-booze-short .form-radios > div ~ div, .edit-field-year-round-yn .form-radios > div ~ div { 
  display: block;
}

.field-name-field-imported-from-wordpress {
    display: none;
}
.field-name-field-updated {
  display: none;
}
.field-name-field-quicket-code {
  display: none;
}
.field-name-field-quicket-id, .field-name-field-bb-no-teens-tickets, .field-name-field-bb-no-kids-tickets {
  display: none;
}



/*-- Radio Styling --*/
input[type="radio"] + div.radio-checkbox-dummy, input[type="checkbox"] + div.radio-checkbox-dummy
{
background: #fff url("/sites/all/themes/afrikaburn/assets/images/afrikaburn-icons-new.png") no-repeat scroll center -1e+7px / 200px auto;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

/*-- Username new line --*/
div#edit-account {
	clear: both;}


/*-- Form labels --*/
.page-theme-camps-form-1-registered .field-label, .page-performance-registered .field-label, .page-mutant-vehicle-registered .field-label, .page-mutant-vehicle-grants .field-label, .page-creative-grants-registered .field-label,  .page-artwork-registered .field-label, {
	display: none;}

=======
.button-general {
  max-width: 400px;
  min-width: 200px;
  background-color: #000;
  height: 45px;
  border-width: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: none;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: FuturaBook,Arial;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  padding: 16px 20px;
}







@media print {
  
  
  
  div.field-content div.item-list ul li {
    width: 100%;
    text-align: center;
  }

  .page-wrangle-artworks-art-grant-ananymous-review ul {
    list-style: none;
  }
  
}

.page-email-node-field-new-members-email .form-item-mail {
  display: none;
}

.page-test .field-name-field-first-name, .page-test .field-name-field-last-name, .page-test .field-name-field-phone-number {
  display: none;
}
.page-test .contact-form .form-type-checkbox {
  display: none;
}
.page-test .field-name-field-email-address {
  display: none;
}


/* DELETE!!! */
.views-field.views-field-field-performer-type-editable, .views-field.views-field-field-performer-types-editable{
    max-width: 40%;
    width: 40%;
    vertical-align: text-bottom;
}
.page-fix-performer-types .views-table.cols-3 {
    max-width: 940px;
}
