/*
no-sidebars class on body will hide the sidebar, and make the rest of the content full width.
Need some classnames for links on home page.
If I make the sidebar region on the homepage, can the newsletter signup be put in there?
*/

@media (min-width: 980px) {

  /* DMV Registration form */
  .page-wrangle-mutant-vehicles-registrations .views-table.cols-5 {
    width: 940px;
  }
  .page-wrangle-mutant-vehicles-registrations .views-field-field-please-submit-concept-imag {
    min-width: 180px;
  }

  /* Community tickets */ 
  .page-node-add-community-tickets-and-outreach .main-block {
    max-width: 940px;
  }

  .page-node-add-community-tickets-and-outreach .sidebar-outer {
    display: none;
  } 

  .page-node-add-community-tickets-and-outreach .field-name-field-proof-of-income-private {
    max-width: 400px;
  }
  
  .page-node-add-community-tickets-and-outreach .form-item-title, 
  .page-node-add-community-tickets-and-outreach .field-name-field-email-address {
    max-width: 33%;
    float: left;
    padding-right: 3px;
  }
  .page-node-add-community-tickets-and-outreach .field-name-field-sa-id-or-passport-number {
    max-width: 33%;
    padding-right: 3px;
    float: left;
  }
  
  .page-node-add-community-tickets-and-outreach .field-multiple-table div.field-name-field-first-name, 
  .page-node-add-community-tickets-and-outreach .field-multiple-table div.field-name-field-last-name,  
  .page-node-add-community-tickets-and-outreach .field-multiple-table div.field-name-field-phone-number {
    max-width: 16%;
  }
  .page-node-add-community-tickets-and-outreach .field-multiple-table .field-name-field-email-address {
    max-width: 22%;
  }
  .page-node-add-community-tickets-and-outreach .field-multiple-table .field-name-field-email-address {
    max-width: 26%;
  }
  
  /* Theme Camp pre registration*/ 
  .page-wrangle-theme-camps-pre-registrations .field-name-field-first-name,
  .page-wrangle-theme-camps-pre-registrations .field-name-field-last-name,
  .page-wrangle-theme-camps-pre-registrations .field-name-field-email-address,
  .page-wrangle-theme-camps-pre-registrations .field-name-field-phone-number {
    max-width: 180px;
    width: 180px;
  }
  .page-wrangle-theme-camps-pre-registrations .views-field-field-theme-camp-wrangler-editable select {
    width: 100px;
  }
  /* end 980 */ 
}

/* Logged in home page */ 
.page-home .panel-flexible h2 {
  color: #f26c55;
  font-family: 'FuturaBook';
  color: #f26c55;
  font-weight: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid #511719;
  text-transform: uppercase;
}
.page-home .panel-flexible p,
.page-home .panel-flexible .field-content {
  color: #ffefb6;
  line-height: normal;
}
.page-home #my-projects,
.page-home #volunteer-now {
  background-color: #0d0d0d;
} 
body.logged-in.page-home div.panel-pane{
  background-color: #340b12;
}

/* Community tickets */ 
.page-node-add-community-tickets-and-outreach .group-indent {
  padding-left: 35px;
}

/* Art Registrations */
.page-wrangle-artworks-registrations .views-field-title strong {
  font-size: 1.5em !important;
  ine-height: 2em;
}
form div.field-name-field-first-name,
form div.field-name-field-last-name,
form div.field-name-field-email-address,
form div.field-name-field-phone-number {
  width: 100%;
  max-width: 100%;
}
form div.field-name-field-first-name > div,
form div.field-name-field-last-name > div,
form div.field-name-field-email-address > div,
form div.field-name-field-phone-number > div {
  float: left;
}
.page-wrangle-artworks-registrations .field-name-field-phone-number {
  margin-bottom: 16px
}
.page-wrangle-artworks-registrations .views-field-field-please-submit-concept-imag img {
  width: 220px;
  max-width: 220px;
  max-height: 220px;
  width: auto;
  height: auto;
}
.page-wrangle-artworks-registrations .views-field-field-art-review-editable {
  width: 100px;
  max-width: 100px;
}
.page-wrangle-artworks-registrations .views-field-field-art-review-editable select {
  max-width: 100%;
}
.page-wrangle-artworks-registrations .field-name-field-project-comments textarea {
  width: 400px;
  height: 200px;
}
.page-wrangle-artworks-registrations .views-widget-filter-field_art_review_tid,
.page-wrangle-artworks-registrations .views-widget-filter-field_burning_yn_value {
  max-width: 125px;
  float: left;
  padding-right: 5px;
}
.page-wrangle-artworks-registrations .views-widget-filter-field_art_review_tid select {
  max-width: 100%;
}
.page-wrangle-artworks-registrations .views-widget-filter-field_burning_yn_value select {
  height: 49px;
  max-width: 100%;
}
.page-wrangle-artworks-registrations .views-widget-filter-field_burning_yn_value {
  height: 130px;
}

.page-wrangle-artworks-registrations .views-field.views-field-field-describe-your-project {
  width: 500px;
  max-width: 500px;
  min-width: 500px;
}
.page-wrangle-artworks-registrations .views-field.views-field-title {
  min-width: 350px;
}

/* Art Grant Review */ 
.page-wrangle-artworks-art-grant-ananymous-review div label {
  font-weight: 700;
}

.page-wrangle-artworks-art-grant-ananymous-review .views-field-field-breakdown-of-expenses li {
  width: 100%;
  overflow: auto;
  border: 1px solid #555;
}

.page-wrangle-artworks-art-grant-ananymous-review .views-field-field-breakdown-of-expenses li div {
  float: left;
  width: 14%;
  border: 1px solid #555;
  border-width: 0px 1px;;
}
.page-wrangle-artworks-art-grant-ananymous-review .views-field-field-breakdown-of-expenses li .field-name-field-price-total {
  float: right;
}

.page-wrangle-artworks-art-grant-ananymous-review .views-field-field-breakdown-of-expenses li div div {
  width: 100%;
  border: 0px;
}


.page-wrangle-artworks-art-grant-ananymous-review .views-row li {
  width: 100%;
  text-align: center;
}
.page-wrangle-artworks-art-grant-ananymous-review ul {
  list-style: none;
}

.views-field-field-application-amount {
  page-break-after: always;
}


.page-art-grant-ananymous-review-images.views-field-title {
  page-break-before: always;
}

.page-wrangle-artworks-art-grant-ananymous-review .views-field-title,
.page-art-grant-ananymous-review-images  .views-field-title {
  width: 100%;
  text-align: center;
}
.page-wrangle-artworks-art-grant-ananymous-review div.body-content h1,
.page-art-grant-ananymous-review-images h1 {
  text-align: center;
}

.page-wrangle-artworks-art-grant-ananymous-review img,
.page-art-grant-ananymous-review-images img {
  max-height: 100mm !important;
  width: auto !important;
}
.views-field-field-please-submit-concept-imag li {
    width: 100%;
    text-align: center;
}

.page-wrangle-artworks-art-grant-ananymous-review div.body-content ol li {
  margin-left: 0;
  padding-left: 0;
  font-size: 0.8em;
  list-style-type: none;
}


/* Early Access */
.page-node-add-artwork-registration .field-name-field-early-access,
.page-node-add-artwork-registration .field-name-field-early-access-justification,
.page-node-add-artwork-registration .field-name-field-ea-total-allocated,
.page-node-add-artwork-registration .field-name-field-ea-requested,
.page-node-add-artwork-registration .field-name-field-ea-ticket-code,
.page-node-add-artwork-registration .field-name-field-bb-found,
.page-node-add-artwork-registration .field-name-field-ea-arrival,
.page-node-add-theme-camps .field-name-field-early-access,
.page-node-add-theme-camps .field-name-field-early-access-justification,
.page-node-add-theme-camps .field-name-field-ea-ticket-code,
.page-node-add-theme-camps .field-name-field-bb-found,
.page-node-add-theme-camps .field-name-field-ea-total-allocated,
.page-node-add-theme-camps .field-name-field-ea-requested,
.page-node-add-theme-camps .field-name-field-ea-arrival,
.page-node-edit.node-add-theme-camps .field-name-field-ea-arrival,
.page-node-add-performance-registration .field-name-field-early-access,
.page-node-add-performance-registration .field-name-field-early-access-justification,
.page-node-add-performance-registration .field-name-field-ea-ticket-code,
.page-node-add-performance-registration .field-name-field-bb-found,
.page-node-add-performance-registration .field-name-field-ea-total-allocated,
.page-node-add-performance-registration .field-name-field-ea-requested,
.page-node-add-artwork-registration .field-name-field-ea-arrival,
.page-projects-request-early-access .views-row-edit-static,
.page-projects-request-early-access .field-name-field-ea-ticket-code,
.page-projects-request-early-access .field-name-field-bb-found, 
.page-node-edit.node-type-mutant-vehicles .field-name-field-ea-requested
.page-node-edit.node-type-mutant-vehicles .field-name-field-ea-total-allocated,
.page-node-edit.node-type-mutant-vehicles .field-name-field-early-access,
.page-node-edit.node-type-mutant-vehicles .field-name-field-early-access-justification,
.page-node-edit.node-type-mutant-vehicles .field-name-field-ea-ticket-code,
.page-node-edit.node-type-mutant-vehicles .field-name-field-bb-found,
.page-node-edit.node-type-mutant-vehicles .field-name-field-ea-total-allocated,
.page-node-edit.node-type-mutant-vehicles .field-name-field-ea-requested,
.page-node-edit.node-type-mutant-vehicles .field-name-field-ea-arrival,
.page-projects-request-early-access .views-row-edit-static,
.field-name-field-ea-staus {
  display: none;
}
.page-node-add-artwork-registration .field-name-field-role,
.page-node-add-theme-camps .field-name-field-role,
.page-node-add-performance-registration .field-name-field-role,
.page-node-add-mutant-vehicles .field-name-field-role,
.page-projects-request-early-access .field-name-field-role {
  max-width: 100%;
}

.page-projects-request-early-access legend {
  font-size: 1.3em;
  font-weight: 700;
  line-height: 2em;
}

.page-projects-request-early-access .field-name-field-early-access-justification, 
.page-projects-request-early-access .field-name-field-early-access, 
.page-projects-request-early-access .field-name-field-phone-number-mine {
  float: left;
  display: block;
}
.page-wrangle-theme-camps-early-access .field-name-field-phone-number-mine,
.page-wrangle-theme-camps-early-access .field-name-field-email-address,
.page-wrangle-art-early-access .field-name-field-phone-number-mine,
.page-wrangle-art-early-access .field-name-field-email-address,
.page-wrangle-dmv-early-access .field-name-field-phone-number-mine,
.page-wrangle-dmv-early-access .field-name-field-email-address {
  display: none;
}
.page-wrangle-theme-camps-early-access .field-name-field-phone-number-mine,
.page-wrangle-theme-camps-early-access .field-name-field-email-address,
.page-wrangle-art-early-access .field-name-field-phone-number-mine,
.page-wrangle-art-early-access .field-name-field-email-address,
.page-wrangle-dmv-early-access .field-name-field-phone-number-mine,
.page-wrangle-dmv-early-access .field-name-field-email-address, {
  display: none;
}
.page-wrangle-theme-camps-early-access .field-name-field-role,
.page-wrangle-theme-camps-early-access .field-name-field-early-access,
.page-wrangle-theme-camps-early-access .field-name-field-early-access-justification,
.page-wrangle-art-early-access .field-name-field-role,
.page-wrangle-art-early-access .field-name-field-early-access,
.page-wrangle-art-early-access .field-name-field-early-access-justification,
.page-wrangle-dmv-early-access .field-name-field-role,
.page-wrangle-dmv-early-access .field-name-field-early-access,
.page-wrangle-dmv-early-access .field-name-field-early-access-justification {
  max-width: 100%;
  width: 100%;
}
.page-wrangle-theme-camps-early-access .field-name-field-role .field-label,
.page-wrangle-theme-camps-early-access .field-name-field-role .field-items,
.page-wrangle-theme-camps-early-access .field-name-field-early-access .field-label,
.page-wrangle-theme-camps-early-access .field-name-field-early-access .field-items,
.page-wrangle-art-early-access .field-name-field-role .field-label,
.page-wrangle-art-early-access .field-name-field-role .field-items,
.page-wrangle-art-early-access .field-name-field-early-access .field-label,
.page-wrangle-art-early-access .field-name-field-early-access .field-items,
.page-wrangle-dmv-early-access .field-name-field-role .field-label,
.page-wrangle-dmv-early-access .field-name-field-role .field-items,
.page-wrangle-dmv-early-access .field-name-field-early-access .field-label,
.page-wrangle-dmv-early-access .field-name-field-early-access .field-items {
  float: left;
}
.page-wrangle-theme-camps-early-access .views-field.views-field-field-crew-mem-ea,
.page-wrangle-art-early-access .views-field.views-field-field-crew-mem-ea,
.page-wrangle-dmv-early-access .views-field.views-field-field-crew-mem-ea {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}
.page-wrangle-theme-camps-early-access .views-field-field-ea-requested,
.page-wrangle-art-early-access .views-field-field-ea-requested,
.page-wrangle-dmv-early-access .views-field-field-ea-requested {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
}
.page-wrangle-theme-camps-early-access td,
.page-wrangle-art-early-access td,
.page-wrangle-dmv-early-access td {
  vertical-align: top;
}
.page-wrangle-theme-camps-early-access .views-field-field-crew-mem-ea li,
.page-wrangle-art-early-access .views-field-field-crew-mem-ea li,
.page-wrangle-dmv-early-access .views-field-field-crew-mem-ea li {
  border: 1px solid black;
  margin-bottom: 2px;
}

.page-wrangle-theme-camps-early-access .views-field-field-crew-mem-ea .field-label,
.page-wrangle-art-early-access .views-field-field-crew-mem-ea .field-label,
.page-wrangle-dmv-early-access .views-field-field-crew-mem-ea .field-label {
  font-weight: 900;
}
.page-wrangle-theme-camps-early-access .field-name-field-early-access .field-item.even,
.page-wrangle-art-early-access .field-name-field-early-access .field-item.even,
.page-wrangle-dmv-early-access .field-name-field-early-access .field-item.even {
    color: yellow;
}



/*   Incident Logs  */
.page-wrangle-incident-logs .views-field.views-field-field-il-public-general-log {
  min-width: 400px;
}
.page-wrangle-incident-logs .views-field-field-il-follow-up-bool {
  min-width: 340px;
}
.page-wrangle-incident-logs .views-field-field-il-incident-status-bool-editable .views-row-edit-static,
.page-wrangle-incident-logs .views-field-field-il-incident-status-bool-editable .form-required,
.page-wrangle-incident-logs .logo-container,
.page-wrangle-incident-logs #header {
  display: none;
}
.page-wrangle-incident-logs td {
  vertical-align: top;
}
.page-wrangle-incident-logs .views-field-field-il-incident-status-bool-editable {
  min-width: 71px;
}
.page-wrangle-incident-logs #editableviews-entity-form-incident-log table {
  position: relative;
  left: -200px;
  top: 0px;
}
.page-wrangle-incident-logs .views-field-field-il-follow-up-description {
  min-width: 300px;
}
.views-field-field-il-incident-summary {
  min-width: 150px;
}

/*   Theme Camp form 2 signup  */
#edit-field-artwork-move-und div:first-child,
.page-node-add-theme-camp-form-2 #edit-field-does-it-have-sound-effects-und div:first-child {
  display: none;
}
#edit-field-artwork-move-und div div:first-child,
.page-node-add-theme-camp-form-2 #edit-field-does-it-have-sound-effects-und div div:first-child {
  display: block;
}


/*   Volunteers signup  */

#edit-field-vol-other-event-und div:first-child {
  display: none;
}
#edit-field-vol-other-event-und div div:first-child {
  display: block;
}

.tgf-group {
  width: 100%;
}

html body.logged-in div.user-menu ul { 
  float: none;
}

.no-term-reference-tree-button {
  display: none;
}
.term-reference-tree li {
  margin: 0.6em;
}
.term-reference-tree-button.term-reference-tree-button-processed {
  margin-right: 0.7em;
}

/*   Volunteers Early Access   */
.page-wrangle-volunteer-early-access .views-field-field-ea-vol-status-editable {
  min-width: 135px;
}
.page-wrangle-volunteer-early-access .views-field-field-ea-vol-status-editable . form-radio:first-child { 
    display: none;
}
.page-wrangle-volunteer-early-access .views-field-field-ea-motivation {
    min-width: 250px;
}

/*   Volunteers Signup  Admin*/
.page-wrangle-volunteer .views-field-field-vol-comments, .page-wrangle-volunteer .views-field.views-field-field-vol-other-skills, .page-wrangle-volunteer .views-field-field-vol-yr-other, .page-wrangle-volunteer .views-field-field-vol-concerns {
  min-width: 300px;
}
.page-wrangle-volunteer .views-field-field-comment-editable {
  min-width: 400px;
}
#editableviews-entity-form-volunteer-signup td {
  vertical-align: top;
}
#editableviews-entity-form-volunteer-signup tr {
    vertical-align: bottom;
}
.page-wrangle-volunteer .views-exposed-widget {
    float: left;
    width: 19%;
}
.page-wrangle-volunteer select, .page-wrangle-volunteer input  {
    max-width: 95%;
}
.page-wrangle-volunteer #edit-field-wrangler-uid {
    height: 81px;
}
.page-wrangle-volunteer .views-exposed-widgets {
    width: 920px;
}
/* General  */

.field-widget-tgf-options-buttons .form-checkboxes,
.field-type-taxonomy-term-reference .form-checkboxes {
    margin-top: 14px;
}

.page-user-edit .form-item-nodeaccess-password {
  display: none;
}
/* */


.user-profile-form .form-radios > div, .group-bb-update .form-radios > div, .group-questionaire .form-radios > div, .group-user .form-radios > div, .field-name-field-booze-short .form-radios > div, .edit-field-year-round-yn .form-radios > div {
  display: none;
}
.user-profile-form .form-radios > div ~ div, .user-profile-form .form-radios > div ~ div, .group-bb-update .form-radios > div ~ div, .group-questionaire .form-radios > div ~ div, .group-user .form-radios > div ~ div, .field-name-field-booze-short .form-radios > div ~ div, .edit-field-year-round-yn .form-radios > div ~ div { 
  display: block;
}

.field-name-field-imported-from-wordpress {
    display: none;
}
.field-name-field-updated {
  display: none;
}
.field-name-field-quicket-code {
  display: none;
}
.field-name-field-quicket-id, .field-name-field-bb-no-teens-tickets, .field-name-field-bb-no-kids-tickets {
  display: none;
}



/*-- Radio Styling --*/
input[type="radio"] + div.radio-checkbox-dummy, input[type="checkbox"] + div.radio-checkbox-dummy
{
background: #fff url("/sites/all/themes/afrikaburn/assets/images/afrikaburn-icons-new.png") no-repeat scroll center -1e+7px / 200px auto;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

/*-- Username new line --*/
div#edit-account {
	clear: both;}


/*-- Form labels --*/
.page-theme-camps-form-1-registered .field-label, .page-performance-registered .field-label, .page-mutant-vehicle-registered .field-label, .page-mutant-vehicle-grants .field-label, .page-creative-grants-registered .field-label,  .page-artwork-registered .field-label, {
	display: none;}

.button-general {
  max-width: 400px;
  min-width: 200px;
  background-color: #000;
  height: 45px;
  border-width: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: none;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: FuturaBook,Arial;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  padding: 16px 20px;
}




@media print {
  
  
  
  div.field-content div.item-list ul li {
    width: 100%;
    text-align: center;
  }

  .page-wrangle-artworks-art-grant-ananymous-review ul {
    list-style: none;
  }
  
}

.page-email-node-field-new-members-email .form-item-mail {
  display: none;
}

.page-test .field-name-field-first-name, .page-test .field-name-field-last-name, .page-test .field-name-field-phone-number {
  display: none;
}
.page-test .contact-form .form-type-checkbox {
  display: none;
}
.page-test .field-name-field-email-address {
  display: none;
}


/* DELETE!!! */
.views-field.views-field-field-performer-type-editable, .views-field.views-field-field-performer-types-editable{
    max-width: 40%;
    width: 40%;
    vertical-align: text-bottom;
}
.page-fix-performer-types .views-table.cols-3 {
    max-width: 940px;
}
