.entity-reference-multiple-inline {
  overflow: hidden;
}
.field-type-entity-reference-multiple .entity-reference-multiple-inline > div.form-item {
  margin: 0 10px 0 0;
  float: left;
}
.entity-reference-multiple-short-codes-settings td {
  width: 33%;
}
