@charset "utf-8";


.view-blogs .view-content{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
}

.page-front .view-blogs .view-content .views-row{
  flex-basis: 30%;
  padding: 0 10px;
}

@media(max-width: 920px){
  .page-front .view-blogs .view-content .views-row{
    flex-basis: 100%;
    padding: 0 10px 40px;
  }
}

.view-blogs .view-content .views-row h3{
  height: 2.5em;
  margin-bottom: 0;
}

.view-blogs .view-content .views-row img{
  width: 100%;
  height: auto;
}

.view-blogs .view-content .views-row .field--name-node-post-date{
  margin-bottom: 2em;
}

