@charset "utf-8";


/* ----- Book Elements ----- */


.view-display-id-child_pages{
  margin: 1em 1em 2em;
}

.view-display-id-child_pages .views-field-view-node{
  font-size: 80%;
  margin-top: -1em;
  text-align: right;
}

.view-display-id-child_pages .views-field-title{
  margin: 2em 0 1em;
}

.view-book-pages aside{
  padding-left: 40px;
}


/* --- Book Buttons --- */


a.book-button:before,
a.book-button:after{
  background: url(../images/book-icons.svg) no-repeat;
  background-size: 2em;
  background-position: top left;
  display: inline-block;
  height: 1em;
  overflow: hidden;
  width: 1em;
}
a.book-button:before{
  margin: 0 .25em -0.15em 0;
}
a.book-button:after{
  margin: 0 0 -0.15em .25em;
}

a.button-book:before,
a.button-section:before,
a.button-prev:before,
a.button-next:after,
a.button-add:before,
a.button-print:before{
  content: '';
}

a.button.button-print{
  border-color: transparent;
  color: transparent;
  display: block;
  overflow: hidden;
  position: absolute !important;
  right: 0;
  top: 0;
  width: 48px;
  white-space: nowrap;
}

a.button-book:before{ background-position-y: 0;}
a.button-section:before{ background-position-y: -1em;}
a.button-prev:before{ background-position-y: -2em;}
a.button-next:after{ background-position-y: -3em;}
a.button-add:before{ background-position-y: -6em;}
a.button-print:before{ background-position-y: -7em;}


/* --- Book Index --- */


.view-book-pages.view-display-id-index{
  background: #F5F2E9;
  box-shadow: 1px 1px 10px #00000010;
  margin: 0 40px 0 -42px;
  padding: 1px 0 20px 40px;
  border-radius: 2px 10px 10px 2px;
  font-size: 70%;;
}

.view-book-pages.view-display-id-index ul{
  margin: 1em 0;
  padding: 0;
}

.view-book-pages.view-display-id-index ul ul{
  border-left: 5px solid #c401;
}

.view-book-pages.view-display-id-index li{
  list-style-type: none;
  margin: .5em 0;
}

.view-book-pages.view-display-id-index ul ul{
  margin-left: 0px;
  padding-left: 10px;
}

.view-book-pages.view-display-id-index .views-field-title:hover a,
.view-book-pages.view-display-id-index .current a{
  color: #fff;
  text-decoration: none;
}

.view-book-pages.view-display-id-index .views-field-title{
  margin: -5px -2px -5px -22.5px;
  padding: 2.5px 2px 5px 15px;
}

.view-book-pages.view-display-id-index .views-field-title:hover,
.view-book-pages.view-display-id-index .current{
  background: #c40;
  border-radius: 15px 2px 2px 15px;
}

.collapsible-book-page .views-field-title{
  position: relative;
}

.collapsible-book-page.collapsed-book-page > ul{
  display: none;
}