@charset "utf-8";


/* ----- Book Elements ----- */


.view-display-id-child_pages{
  margin: 1em 1em 2em;
}

.view-display-id-child_pages .views-field-title{
  margin: 2em 0 1em;
}

.view-book-pages aside{
  padding-left: 40px;
}

a.book-button:before,
a.book-button:after{
  display: inline-block;
  height: 25px;
  width: 25px;
  background: url(../images/book-icons.svg) no-repeat;
  background-size: 15px;
}

.form-actions a.book-button:before,
.form-actions a.book-button:after{
  font-size: 110%;
  position: relative;
  top: -1px;
}

a.button-add:before{
  content: '\1F5CD';
  position: relative;
  top: -2px;
}

a.button-print{
  position: absolute;
  right: 0;
  border: none;
  top: -75px;
}
a.button-print:before{
  content: '';
  background-position: top left;
}

a.button-book:before{
  content: '\23ee';
}

a.button-section:before{
}

a.button-prev:before{
  content: '\25c4';
}

a.button-next{
  margin-left: 15px;
}

a.button-next:after{
  content: '\25ba';
}

.view-display-id-index{
  background: #F5F2E9;
  margin: 0 40px 0 -42px;
  padding: 1px 0 20px 40px;
  border-radius: 2px 10px 10px 2px;
}

.view-display-id-index ul{
  margin: 1em 0;
  padding: 0;
}

.view-display-id-index ul ul{
  border-left: 1px solid #a0a0a0;
}

.view-display-id-index li{
  list-style-type: none;
  margin: .5em 0;
}

.view-display-id-index ul ul{
  margin-left: 5px;
  padding-left: 15px;
}

.view-display-id-index .current a{
  color: #fff;
}

.view-display-id-index .current{
  background: #a0a0a0;
  border-radius: 15px 2px 2px 15px;
  margin: -5px -2px -5px -10px;
  padding: 5px 2px 5px 10px;
}