@charset "utf-8";


.button,
.form-text,
.form-email,
.form-search,
.form-textarea,
.form-select{
  background: #fff;
  box-sizing: border-box;
  font-size: 90%;
  outline: none;
  padding: 10px 20px;
}

.form-text,
.form-search,
.form-textarea,
.form-select{
  border: 1px inset #eee;
  border-radius: 5px;
  box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.1);
  min-width: 100%;
  width: 100%;
}

.form-text:hover,
.form-search:hover,
.form-textarea:hover,
.form-select:hover,
.form-text:focus,
.form-search:focus,
.form-textarea:focus,
.form-select:focus{
  border-color: #e60D;
  border-width: 2px;
  box-shadow: inset 0 2px 10px 0 rgba(0,0,0,0.15);
  padding: 9px 19px;
  text-shadow: 0 2px 4px #0002;
}

table .form-text,
table .form-search,
table .form-textarea,
table .form-select{
  min-width: auto;
  width: auto;
}

input::placeholder{
  color: #936a93aa;
}

form .button,
.js .dropbutton-widget{
  font-size: 80%;
  text-transform: uppercase;
}

.js .dropbutton-widget{
  border-color: #e60;
  border-radius: 10px;
  overflow: hidden;
}

.js .dropbutton-widget:hover{
  border-color: #e60;
}

.js .dropbutton-widget a:hover{
  background-color: #e60;
  color: #fff;
}

.js .dropbutton-widget a:hover{
  color: #fff;
}

.button{
  border: 1px solid #e60D;
  border-radius: 20px;
  box-sizing: border-box;
  color: #e60;
  display: table;
  outline: none;
  padding: 10px 15px;
  position: relative;
}

.button:focus,
.button:hover{
  border-width: 2px;
  box-shadow: 0 10px 20px #0002, 0 10px 20px inset #0002;
  font-weight: bold;
  padding: 9px 14px;
  text-decoration: none;
  text-shadow: 0 5px 10px #0005;
}

.button:active{
  background-color: #e60;
  background-position-x: -1em;
  box-shadow: none;
  color: #fff;
}

.button:active:before,
.button:active:after{
    background-position-x: -1em;
}

form .form-item{
  margin: 0 0 20px;
}

.description{
  color: #936a93;
  padding: 5px 10px;
}

details summary{
  outline: none;
  padding: 10px;
}

details .details-wrapper{
  padding-bottom: 40px;
}

.compact-link{
  text-align: right;
}

.form-actions,
.action-links{
  background: #F5F2E9;
  border-radius: 30px 2px 2px 30px;
  box-shadow: 1px 1px 10px #00000010;
  display: flex;
  float: right;
  margin: 80px -42px 0 0;
  padding: 10px 40px 10px 10px;
}

nav.action-links{
  margin: 0px -42px 40px 0;
}

.action-links:before,
.action-links:after,
.form-actions:before,
.form-actions:after,
form:after{
  display: block;
  content: ' ';
  clear: both;
}