@charset "utf-8";


/* ----- Header ----- */


header .region-home{
  text-align: center;
}

header .region-home img{
  margin: -85px 0;
  width: 420px;
}

header .region-home .site-name{
  display: block;
  top: 0px;
}

@media (max-width: 950px){

  .page-front header .region-home{
    text-align: left;
  }

  .page-front header .region-home img{
    width: 120px;
    display: inline-block;
    margin: -10px -20px -30px -70px;
  }

  .page-front header .region-home .site-name{
    display: inline-block;
    position: relative;
    top: -12px;
  }
}

@media (max-width: 640px){
  .page-front header .region-home img{
    width: 120px;
    display: inline-block;
    margin: -10px -20px -30px 0;
  }
}


/* ----- Prefix ----- */


.page-front .block-views-blockevents-next-afrikaburn-date{
  font-size: 120%;
  margin-bottom: -30px;
  position: relative;
  z-index: 1;
}


/* ----- Call to Action ----- */


.block-region-top{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -50px;
}

.block-region-top .block.block-block-content{
  flex-basis: 33%;
  text-align: center;
}

.region-content .contextual-region {
  position: relative;
}

.block-region-top .block.block-block-content .field{
  padding: 10px;
  margin: 0 auto;
  width: 230px;
}

.block-region-top .block.block-block-content a{
  white-space: nowrap;
}

@media (max-width: 920px){
  .block-region-top{
    margin: 0;
  }

  .block-region-top .block.block-block-content{
    flex-basis: 100%;
    margin: 0 50px;
    padding: 0 0 20px;
    text-align: left;
  }

  .block-region-top .block.block-block-content .field{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: auto;
    align-items: center;
  }

  .block-region-top .block.block-block-content .field h2{
    flex-basis: 100%;
  }

  .block-region-top .block.block-block-content .field p{
    width: 100px;
  }
  .block-region-top .block.block-block-content .field p:last-child{
    flex-grow: 1;
  }

  .block-region-top .block.block-block-content .field img{
    margin-right: 20px;
  }
}

.block.block-block-content .field p{
  margin: 1em 0 0;
}
.block.block-block-content .field h2{
  margin: 1em 0 0;
}


/* ------ Search ------ */


.page-front .region-content .contextual-region {
  position: relative;
}

.block-views-blockquick-search-block{
  box-sizing: border-box;
  width: 100%;
  padding: 40px;
}

.block-views-blockquick-search-block form{
  background: none;
  padding: 0;
  margin: 0;
}

.block-views-blockquick-search-block .form-item{
  width: auto;
}

.block-views-blockquick-search-block .form-actions{
  background: none;
  box-shadow: none;
  float: none;
  border-radius: 0;
}

.block-views-blockquick-search-block .form--inline{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.block-views-blockquick-search-block .form--inline div{
  margin: 0;
  padding: 0;
}

.block-views-blockquick-search-block input{
  height: 40px;
  padding: 10px 20px;
}

.block-views-blockquick-search-block input.form-text{
  border-radius: 20px 0 0 20px;
  outline: none;
  background-image: none !important;
}

.block-views-blockquick-search-block .form-submit{
  border-radius: 0 20px 20px 0;
  outline: none;
}

.block-views-blockquick-search-block .form-submit:first-child{
  width: 8em;
}

.block-views-blockquick-search-block .form-submit:nth-child(2){
  border-radius: 20px;
  position: absolute;
  margin: -0.75em 0 0 -10.25em;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  top: 50%;
}

.block-views-blockquick-search-block .no-results{
  text-align: center;
  margin: 40px 0 0;
}

.block-views-blockquick-search-block .search-results{
  margin: 40px 0 0;
}

.block-views-blockquick-search-block .no-filter .search-results{
  display: none;
}

.block-views-blockquick-search-block .views-row{
  margin: 0 0 40px;
}

.block-views-blockquick-search-block .views-row h4{
  margin: 0;
}

.block-views-blockquick-search-block .views-field-search-api-excerpt{
  margin: 0.5em 1em 2em;
}

.block-views-blockquick-search-block .views-field-search-api-excerpt blockquote{
  margin: 0;
}

/* ----- Slider ----- */


.block-views-blockslideshow-front-page{
  display: block;
  overflow: hidden;
  width: 110%;
  margin: 0 -5%;
}

.block-views-blockslideshow-front-page .slick--view--slideshow{
  display: block;
  height: 175px;
  margin: 20px 20px 40px;
}

@media (max-width: 1085px){
  .block-views-blockslideshow-front-page .slick--view--slideshow{
    height: 15vw;
  }
}

@media (max-width: 920px){
  .block-views-blockslideshow-front-page .slick--view--slideshow{
    height: 12vw;
  }
}

@media (max-width: 864px){
  .block-views-blockslideshow-front-page .slick--view--slideshow{
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .block-views-blockslideshow-front-page{
    margin: 0;
    width: 100%;
  }
}

.block-views-blockslideshow-front-page .slick--view--slideshow ul,
.block-views-blockslideshow-front-page .slick--view--slideshow li{
  margin: 0;
  padding: 0;
}

.block-views-blockslideshow-front-page .slick--view--slideshow img{
  margin: 0 auto;
  width: 90%;
  border: 1px solid #ffffff99;
  box-shadow: 0 0 10px 0px #00000033;
  border-radius: 3px;
}

.block-views-blockslideshow-front-page .slick--view--slideshow .slick-arrow{
  height: 80px;
  width: 30px;
}

.block-views-blockslideshow-front-page .slick--view--slideshow .slick-arrow::before{
  font-size: 80px;
  display: block;
  height: 80px;
  margin-top: -85%;
  line-height: 80px;
}
.block-views-blockslideshow-front-page .slick--view--slideshow .slick-arrow:hover::before{
  color: #d00;
}

.block-views-blockslideshow-front-page .slick--view--slideshow .slick-prev::before{
  content: '\2329';
}
.block-views-blockslideshow-front-page .slick--view--slideshow .slick-prev{
  margin-left: -20px;
}

.block-views-blockslideshow-front-page .slick--view--slideshow .slick-next::before{
  content: '\232a';
}
.block-views-blockslideshow-front-page .slick--view--slideshow .slick-next{
  margin-right: -20px;
}



/* ----- Blogs ----- */


.block-region-bottom .block.block-block-content{
  text-transform: uppercase;
  text-align: center;
}
