@charset "utf-8";


/* ----- Global ----- */


body{
  background: #280E26;
  color: #3e173e;
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
}

a{
  color: #c40;
  text-decoration: none;
}

a:hover{
  color: #a00;
  text-decoration: underline;
}

strong a{
  color: #d00;
  text-shadow: 2px 3px 3px #0003;
  white-space: nowrap;
}

strong a:hover{
  text-shadow: none;
}

h1, h2, h3, h4 {
  font-family: 'Julius Sans One';
  text-transform: uppercase;
}

h1{
  font-size: 200%;
  margin: 0 0 1em;
}

h2, h3, h4 {
  margin: 1.5em 0 1em;
}

h2{
  font-size: 160%;
}

h3{
  font-size: 140%;
}

blockquote{
  margin: 4em 1em 2em;
  font-size: 80%;
}