@charset "utf-8";


.foreground > header{
  max-width: 1024px;
  margin: 0 auto;
}

.foreground > header,
.foreground > header .header-wrapper{
  position: relative;
}

.path-admin .foreground > header{
  max-width: 100%;
}


/* ----- Title area ----- */


.page-front header .region-home{
  text-align: center;
}

.page-front header .region-home img{
  margin: -85px 0;
  width: 420px;
}

.site-name a{
  color: #000;
  display: block;
  font-size: 256%;
  font-weight: bolder;
  margin: 0.5em 0;
  text-shadow: 0px 0px 3px rgba(255, 255, 180, 1);
  text-transform: uppercase;
}
.site-name a:hover{
  color: #000;
  text-decoration: none;
}
.page-not-front .site-name a{
  margin: 40px 0 0;
}
.page-front .site-name a{
  margin: 0;
}

.page-front .region-navigation{
  display: none;
}

.page-not-front .foreground > header{
  margin-bottom: -100px;
  z-index: 100;
}

.page-not-front .foreground > header .header-wrapper,
.page-not-front .foreground > header .region-home,
.page-not-front .foreground #block-sigel{
  display: flex;
}

.page-not-front .foreground > header .header-wrapper{
  flex-wrap: wrap;
}

.page-not-front a.site-logo,
.page-not-front header .region-home .site-name{
  margin: 0.5em 0;
}

.page-not-front #block-sigel img {
  margin: 5px -30px -70px -45px;
  height: 150px;
}

@media (max-width: 950px){

  .page-not-front .foreground > header{
    margin-bottom: -225px;
  }

}


/* ----- Navigation ----- */


header .region-navigation{
  flex-grow: 1;
  text-align: right;
}

@media (max-width: 950px){

  .page-not-front .region-navigation{
    width: 100%;
  }

  .page-not-front .region-navigation ul.menu{
    padding: 40px 0 60px;
    margin: 0;
  }

}

header .region-navigation ul.menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  margin: 74px 0 0 0;
}

header .region-navigation li a{
  display: block;
  padding: 0 10px 0 30px;
}

header .region-navigation li:nth-child(1) a{
  background: url(../images/home.svg) no-repeat;
}
header .region-navigation li:nth-child(2) a{
  background: url(../images/learn.svg) no-repeat;
}
header .region-navigation li:nth-child(3) a{
  background: url(../images/play.svg) no-repeat;
}


/* ----- Updates ----- */


header .region-updates{
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 10;
}

@media (max-width: 950px){
  .page-not-front header .region-updates{
    top: 83px;
  }
}

header .region-updates .block-views .view-updates,
.page-not-front header .region-updates .block-views:before{
  color: #fff;
  margin: 45px -40px 0 0;
  padding: 5px 10px 20px;
}

header .region-updates .block-views .view-updates{
  font-size: 80%;
  background: #3e173eee;
  border-radius: 5px;
  width: 200px;
}

header .region-updates p{
  margin: 0;
  padding: 0;
}

header .region-updates time,
header .region-updates footer{
  display: block;
  font-size: 90%;
}

header .region-updates time{
  float: left;
}

header .region-updates footer{
  float: right;
}

header .region-updates a{
  color: #f9a90c;
}

header .region-updates .views-row{
  margin: 0 0 10px;
  padding: 0 0 30px;
  border-bottom: 1px solid #ffffff33;
}

header .region-updates .views-row:last-child{
  margin: 0;
  padding: 0;
  border: none;
}

.page-not-front header .region-updates .block-views div{
  display: none;
}

.page-not-front header .region-updates .block-views:before{
  margin-top: 75px;
  border-radius: 15px;
  background: #3e173e;
  content: '\1f514';
  display: block;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  width: 25px;
  height: 25px;
}

.page-not-front header .region-updates:hover .block-views div{
  display: block;
}

.page-not-front header .region-updates:hover .block-views:before{
  display: none;
}

@media(max-width: 950px){

  header .region-updates .block-views:before{
    color: #fff;
    margin: 45px -40px 0 0;
    padding: 5px 10px 20px;
  }

  header .region-updates .block-views div{
    display: none;
  }

  header .region-updates .block-views:before{
    margin-top: 75px;
    border-radius: 15px;
    background: #3e173e;
    content: '\1f514';
    display: block;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    width: 25px;
    height: 25px;
  }

  header .region-updates:hover .block-views div{
    display: block;
  }

  header .region-updates:hover .block-views:before{
    display: none;
  }
}