@charset "utf-8";

table{
  font-size: 80%;
  margin-bottom: 80px;
  padding: 0 20px;
  /* table-layout: fixed; */
  width: 100%;
}

table th{
  text-align: left;
  border-bottom: 1px solid;
  padding: 10px 20px;
  background: #fff9 !important;
}

table tr.region-title td{
  padding: 40px 5px 20px;
}

table tr td,
table tr td.description{
  vertical-align: top;
  padding: 20px 20px 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

table tr td ul{
  margin: 0;
  padding: 0;
}

dd{
  margin: 10px 0 40px 40px;
}

table tbody tr:hover{
  background: #fff5;
}

.table-wrapper, .table-header-wrapper{
  overflow-x: auto;
}

.table-header-wrapper{
  position: fixed;
  overflow: hidden;
}

.table-header-wrapper table{
  position: static !important;
  visibility: visible !important;
  background: transparent !important;
}