@charset "utf-8";


nav.tabs{
  padding: 1px 0;
}


ul.tabs.primary{
  align-items: stretch;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-bottom: 40px;
  padding: 0 5px;
  width: 100%;
  justify-content: flex-end;
}

ul.tabs.primary:before{
  content: ' ';
  display: block;
  border-bottom: 1px solid #e60;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}

ul.tabs.primary li {
  display: flex;
  border: none;
  box-sizing: border-box;
  color: #fff;
  margin: 3px 0 0;
}

ul.tabs.primary li:before,
ul.tabs.primary li:after{
  content: ' ';
  display: block;
  border-bottom: 1px solid #e60;
  width: 5px;
  height: 100%;
  box-sizing: border-box;
}


ul.tabs.primary li a{
  background: #e607;
  border-bottom: 1px solid #e60;
  border-radius: 5px 5px 0 0;
  color: #fffc;
  display: block;
  padding: 0.25em 1em;
}

ul.tabs.primary li:hover a{
  color: #fff;
  background: #e60;
}

ul.tabs.primary li a:hover{
  text-decoration: none;
}

ul.tabs.primary li.is-active a{
  background: none;
  color: #e60;
  border: 1px solid;
  border-color: #e60 #e60 transparent;
  border-radius: 5px 5px 0 0;
}

ul.tabs.secondary{
  justify-content: center;
  display: flex;
  margin: 0 0 40px;
}

ul.tabs.secondary li{
  margin: 0;
}

ul.tabs.secondary li a{
  background: #e60;
  border-width: 1px;
  border-style: solid none none;
  color: #fff;
  opacity: 0.5;
}

.views-displays .tabs.secondary li a{
  color: #333;
}

.views-displays .tabs.secondary li a:hover{
  color: #fff;
}

ul.tabs.secondary li:first-child a{
  border-radius: 20px 0 0 20px;
}

ul.tabs.secondary li:last-child a{
  border-radius: 0 20px 20px 0;
}

ul.tabs.secondary li a:hover{
  opacity: 1;
  text-decoration: none;
}

ul.tabs.secondary li.is-active a{
  background: #fff;
  border-style: solid;
  color: #e60;
  opacity: 1;
}

ul.tabs.secondary li.is-active a:hover{
  color: #e60;
}